* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

nav {
	overflow: hidden;
	position: fixed; /* Set the navbar to fixed position */
	top: 3; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	background-color: white;
}

.nav-logo {
	margin-left: 10rem;
	margin-top:  1rem;
	display: inline;
	float: left;
}
.right-nav {
	display: inline-block;
	margin-top:  1rem;
	margin-left: 35%;
	font-weight: bold;
	list-style: none;
	padding-bottom: 1rem;
}

.nav {
	display: inline;
	margin: 1rem;
}

.tuitt-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	width:  120px;
	border-color: transparent;
	border-radius: 25px;
	border-bottom: 50px;
	border-top: 50px;
	font-size: 12px;
	padding: 1rem;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	/*background-position-x: 20%;*/
	background-position-y: 45%;
	background-size: cover;
	background-repeat: no-repeat;
}

.front-bg {
	background: rgba(0, 0, 0, 0.5);
}

.container {
	text-align: right;
	min-height: 50vh;
	margin-right: 15rem;
	padding-top: 56px;
}

.title {
	font-family: "Zilla Slab";
	font-size: 30px;
	text-align: right;
	margin-left: 75rem;
	margin-top: 2rem;
	color: #fff;
}

.subtitle {
	text-align: right;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: 75rem;
	color: #fff;
	font-size: 19px;
	font-weight: 100;
}

.apply-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	width:  150px;
	border-color: transparent;
	border-radius: 25px;
	border-bottom: 50px;
	border-top: 50px;
	font-size: 12px;
	padding: 1rem;
	margin-bottom: 5rem;
}

.title-2 {
	font-family: "Zilla Slab";
	font-size: 30px;
	text-align: center;
	margin-top: 5%;
}

.intro-description {
	text-align: center justify;
	margin-top: 5rem;
	padding-left: 30rem;
	padding-right: 30rem;
	margin-bottom: 5%;
}

.prefooter-description {
	text-align: center justify;
	margin-top: 5rem;
	padding-left: 30rem;
	padding-right: 30rem;
	margin-bottom: 2rem;
}

.book-button {
	color: white;
	font-weight: bold;
	background-color: #336589;
	border-radius: 20px;
	border: 5rem;
	font-size: 1rem;
	padding: 1rem;
	border-spacing: 1rem;
	width:  150px;
	margin-bottom: 10%;
}

.pre-footer {
	text-align: center;
	margin-top: 2rem;
	background-color: #f7fbfb;
	margin-bottom: 0;
	padding-top: 5%;
}

#footer {
	text-align: center;
	margin-bottom: 1rem;
}

hr {
	color: #dbdbdb;
}




